* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'nurinto', sans-serif;
    overflow: auto;   
}

.content{
    background-color: white;
}


.navbar {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

#logo {
    font-size: 33px;
    font-weight: 900;
    color: green;
}

#logo img {
    width: 80px;
    height: 50px;
}
.navbar-nav .nav-item.dropdown:hover>.dropdown-menu {display: block;}

.navbar-nav .nav-item.dropdown>.nav-link:after {display: none;}

.navbar-nav .nav-item.dropdown>.nav-link {padding-right: 1.5rem !important;}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {padding: 0 15px;}

.navbar-nav li a {
    font-size: medium;
    color: white;
}

.navbar-toggler-icon {display: none;}

.navbar-nav li a:hover {
    color: green!important;
    font-weight: bold;
    text-shadow: 1px 1px 1px lime;
    transition: 0.5s ease;
    font-size: large;
}

.nav-link {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px lime;
    margin-left: 15px;
    transition: 0.5s ease;
}

.nav-link:hover {
    background-color: whitesmoke;
    color: green;
    border-radius: 5px;
    transform: translateY(-5px);
}

.icons {margin-right: 15px;}

.icons img {
    margin-right: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.icons img:hover {transform: translateY(-5px);}

@media screen and (max-width: 330px) {
    #logo {
        font-size: 15px;
    }
}

#banner {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Set image width to 100% */
    height: auto; /* Maintain aspect ratio */
}


.text-between {
    text-align: center;
    margin: 0 0 30px;
    position: relative;
    overflow: hidden;
}

.delivery-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.text-banner {
    background-color: #d61515;
    color: #fff;
    padding: 10px 20px 0 0;
    border-radius: 5px;
    margin-right: 10px;
}

.running-text {
    white-space: nowrap;
    display: inline-block;
    animation: runText 20s linear infinite;
    font-size: 70px;
    font-weight: bold;
}

@keyframes runText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.image-button {
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border: 8px solid whitesmoke;
    /* overflow: hidden; */
    border-radius: 15px;
    cursor: pointer;
}

.image-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
}

.image-button:hover {
    border-color: #0ec40e;
}

#button1 {left: 100px;}

#button2 {left: 300px;}

#button3 {left: 600px;}

.products-button {margin: 30px 0 0 0;}

#product-title {
    font-size: 50px;
    text-align: center; 
    color: #333; 
    background-color: whitesmoke; 
    padding: 20px; 
    text-transform: uppercase;
    font-weight: 900;

}
#images-section {
    text-align: center;
    margin-top: 140px; 
    padding-left: 100px;
    padding-right: 100px;
}

.responsive-image {
    width: 25%; 
    margin: -40px 40px 0 40px;
    display: inline-block; 
    vertical-align: top; 
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border: 4px solid transparent;
    position: relative;

}

.responsive-image:hover {transform: scale(1.1) rotate(10deg); }

#text-section{
    text-align: center;
    margin-top: 120px;
    padding-left: 20px; 
    padding-right: 20px; 
}
.responsive-text{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    width: 25%; 
    margin: -90px 40px 0 40px;
    display: inline-block; 
    vertical-align: top; 
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border: 4px solid transparent;
    position: relative;
}