body {
    background-color: #c3f0c5;
    /* align-items: center; */
    margin-top: 100px;
}

.card {
    width: 500px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #008631;
    color: #ffffff;
    
}

.btn-primary {
    background-color: #008631;
    border-color: #008631;
}

.btn-primary:hover {
    background-color: #761515e9;
    border-color: #008631;
}

.img-fluid {
    max-width: 250px;
    height: 250px;
    float: right; 
    margin-left: 20px; /* Add some margin for better spacing */
}
