*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.2;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #bbbbbb;
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #025f26;
    padding: 60px 10%;
    border: 2px solid #f1bc0d;
    border-radius: 5px;
    overflow: hidden; 
    padding: 20px;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
  
}
.footer-col img{
    overflow: hidden;
    height: 150px;
    border-radius: 5px;
 }
 .footer-col h3 {
    margin: 10px 0; 
    font-size: 24px; 
    color: #f1bc0d;
    text-align: left;
 }

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
    display: inline-block; 
    margin-bottom: 10px; 
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}
.footer-col li{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: white;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    color: rgb(81, 6, 6);
    padding-left: 2px;
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color:black;
    background-color: white;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover{
    color: rgb(160, 146, 146); 
    background-color:rgb(81, 6, 6);
}

@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}