* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;

}

a{
    text-decoration:none;
}

img{
    width: 100%;
}

body{
    background-color: #e2e2e2;
}

.fa-star,
.fa-star-half-alt {
    color: gold;;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.container .title{
    text-align: center;
    color: seagreen;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
}

.products-container .product{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-radius: 4px;
    width: auto;
    box-shadow: .125rem .75rem .75rem reba(0,0,0,.125);
}
.products-container .product:hover{
    background-color: #fff;
    border: 1px solid seagreen;
    cursor: pointer;
}

.product .product-text{
    margin-top: 1rem;
    font-size: 1.3rem;
}

.product .product-price{
    margin: .5rem 0;
}